%h1= @project.name
%br
%table
  %thead
    %tr
      %th Task Name
      %th Description
      %th Project
      %th Status
      %th User
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.project.name
        %td= task.status
        %td= task.user.try(:email)
        %td= link_to 'Show', project_task_path(@project, task)
        %td= link_to 'Edit', edit_project_task_path(@project, task)
        %td= link_to 'Destroy', project_task_path(@project, task), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Back', projects_path, class: "btn"

- if can? :manage, Task
  = link_to 'New Task',  new_project_task_path(@project), class: "btn btn-success"