%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Client:
  = @project.client
%p
  %b Active:
  = @project.active

= link_to 'Edit', edit_project_path(@project), :class => "btn"
|
= link_to 'Back', projects_path, :class => "btn"

%br
%br
= link_to "Create Task", new_project_task_path(@project.id), :class => "btn btn-success"